<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Pedir Pizza</div>
    </NavLink>
    <NavLink href="/checkout" class="nav-tab">
        <img src="img/pizza-slice.svg" />
        <div>Finalizar Pedido</div>
    </NavLink>
    <NavLink href="/myorder" class="nav-tab">
        <img src="img/pizza-slice.svg" />
		<div>Meus Pedidos</div>
    </NavLink>
    <NavLink href="/enderecos" class="nav-tab">
        <img src="img/pizza-slice.svg" />
        <div>Meus Endereços</div>
    </NavLink>
</div>