@page "/checkout"
@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

@using BlazorApp.Model
@using BlazorApp.Services
@using System.Globalization
@inject OrderState OrderState
@inject NavigationManager NavigationManager
@inject PedidoService PedidoSvc
@implements IDisposable

<div class="main ">
	<EditForm Model="pedido" OnSubmit="CheckSubmission">
		<div class="checkout-cols">

			<OrderReview pedido="OrderState.PedidoAtivo" />
			@if (isError)
			{
				<div class="alert alert-danger">Por favor, preencha o nome, cidade e rua.</div>
			}
			<AddressEditor endereco="OrderState.PedidoAtivo.EnderecoEntrega" />

		</div>

		<input class="checkout-button btn btn-warning" type="submit"  value="Confirmar Pedido" />
			
		
	</EditForm>
</div>
@code {
	bool isSubmitting;

	private Pedido pedido => OrderState.PedidoAtivo;

	bool isError = false;

	private async Task CheckSubmission(EditContext editContext)
	{
		try
		{
			isSubmitting = true;
			var model = pedido.EnderecoEntrega;

			isError = string.IsNullOrWhiteSpace(model?.NomeCliente) 
			|| string.IsNullOrWhiteSpace(model?.Cidade)
			|| string.IsNullOrWhiteSpace(model?.Bairro)
			|| string.IsNullOrWhiteSpace(model?.Rua)
			|| string.IsNullOrWhiteSpace(model?.Numero)
			|| string.IsNullOrWhiteSpace(model?.Telefone);

			if (!isError)
			{
				await SalvarPedido();
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine($"Erro ao salvar endereço: {ex.Message}");
		}
	}

	private async Task SalvarPedido()
	{
		try
		{
			int id = await PedidoSvc.PlaceOrderAsync(NavigationManager.BaseUri, pedido);
			OrderState.ResetOrder();
			NavigationManager.NavigateTo($"/myorder/{id}");
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Erro ao salvar pedido: {ex.Message}");
		}
		finally
		{
			isSubmitting = false;
		}
	}

	public void Dispose()
	{
		OrderState.OnChange -= StateHasChanged;
	}

	protected override void OnInitialized()
	{

		OrderState.OnChange += StateHasChanged;
		if (pedido.EnderecoEntrega == null)
		{
			pedido.EnderecoEntrega = new Endereco();
		}
	}

}
